* {
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: red;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .news-week-logo {
    margin-left: -20px;
    height: 40px;
  }

  .header-wrapper {
    line-height: 50px;
  }

  .bars {
    color: rgb(236, 235, 235);
    font-size: 24px;
    margin: auto 10px;
  }

  .subscribe {
    background-color: white;
    border-radius: 0%;
    margin: auto 0;
    color: red;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
  }

  .sign-in {
    font-weight: bold;
    color: white;
    font-size: 13px;
    margin: 0 3px;
  }

  nav,
  .header-wrapper2 {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  .header-wrapper2 {
    display: none;
  }

  .header-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-wrapper {
    line-height: 50px;
  }

  .news-week-logo {
    height: 40px;
  }

  .bars {
    color: rgb(236, 235, 235);
    font-size: 30px;
    margin: auto 20px;
  }

  .sign-in {
    font-weight: bold;
    color: white;
    font-size: 20px;
  }

  .subscribe {
    background-color: white;
    line-height: 7px;
    border-radius: 0%;
    margin: auto 20px;
    color: red;
    font-weight: bold;
  }
  .fa-angle-right {
    color: red;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .header-tab {
    display: none;
  }

  .logo2 {
    height: 110px;
  }

  .header-wrapper2 {
    line-height: 90px;
    width: 100%;
  }

  .subscribe {
    background-color: white;
    border-radius: 0%;
    color: red;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    margin: 0 20px;
  }

  .sign-in {
    font-weight: bold;
    color: white;
    font-size: 15px;
  }

  .right-laptop-subscribe {
    position: relative;
    justify-content: flex-end;
    bottom: -20px;
  }

  .date {
    position: relative;
    bottom: -20px;
    color: white;
    line-height: 30px;
  }

  li {
    display: list-item;
  }

  .page-nav::after {
      position: relative;
      top: 0;
      right: -10;
      content: "";
      display: block;
      background-color: #f72210;
      border-left: 12px solid white;
      border-top: 13px solid #f72210;
  }
  
  ul.page-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    z-index: 1;
  }

  ul.page-nav li {
    color: black;
  }

  ul.page-nav li {
    flex-grow: 1;
  }
  ul.page-nav li {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #928f8f;
    text-align: center;
  }

  nav {
    background-color: white;
    border-bottom: gray;
  }

  ul li.leaf {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li input {
    width: 55px;
    border: none;
    font-size: 17px;
    padding: 0;
  }

  input {
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
  }

  li.first-us {
    border: none;
  }

  /*.header-bottom {  
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 22px;
    line-height: 5px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    z-index: 1;
}
  }
